<section class="top">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <a class="" href="http://skyislandgames.com/index.php">

                    <img class="CompanyLogoMobile" src="../images/WebsiteLogo.png" alt="Sky Island Games" />

                </a>

                <h2>Meet Sky Island Games</h2>



            </div>

        </div>

        <hr />

    </div>

</section>

<section class="featured" style="background-color: rgba(0,0,0,.05);padding:20px; text-align:left">

    <div class="container">



        <div class="row">

            <div class="col-sm-3"></div>

            <div class="col-sm-6" style="background-color:white; border-radius:4px;padding:15px">

                <div class="teamHeader">

                    <div class="col-sm-4">

                        <img style="height:120px;border-radius: 50%;" src="../images/Tim.png" />

                    </div>



                    <div class="col-sm-8">

                        <h3>

                            <b>Timothy Wilson</b>

                        </h3>

                        Game Developer

                        <br />

                        <a href="https://twitter.com/skyisland_games" target="_blank">@@skyisland_games</a>

                    </div>

                    <div class="clearfix"></div>

                </div>



                <div class="teamBody">

                    <p class="aboutMe">
                        Tim hails from the great state of Michigan.  Tim have been a software developer for many years and now is moving into game development.

                        Tim's passion for games started when he was only 6 and would play his brothers at Tecmo Super Bowl.  Later in life he discovered the classic SNES RPGs and from

                        then on he fell in love with games.  Tim doesn't have an ounce of artistic style but love the math and precision of programming games.
                    </p>

                    <p class="favGames">

                        <b>Favorite Games:</b>

                        <br />Chrono Trigger, Final Fantasy 6, Final Fantasy 7, Final Fantasy 12, Super Metroid, Super Mario 64

                    </p>

                </div>

            </div>

            <div class="col-sm-3"></div>

        </div>

    </div>

</section>