

<section class="top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a class="" href="http://skyislandgames.com/index.php">
                    <img class="CompanyLogoMobile" src="images/WebsiteLogo.png" alt="Sky Island Games" />
                </a>
                <h2>Sky Island Games is a independent game developer with a passion for nostalgic game play.</h2>
                <p>We believe in honest games which provide a challenge to the player while maintaining a humane design.</p>
            </div>
        </div>
        <hr />
    </div>
</section>


<section class="media">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 style="color:white;">&nbsp;</h3>
            </div>
        </div>
        <div class="row" style="color:white;text-align:left">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <a style="color:white" href="/POL">
                        <h2>Particles Of Light</h2>
                    </a>
                    <p>
                        Particles of Ligth is a classic speed platformer.
                        You are a sentient body of light particles, the only light is a completely dark world.
                        Discover the secrets of the world as you climb to reach the portal which will hopefully take you home.
                    </p>
                    <hr />
                    <a style="color:#900" href="http://www.kongregate.com/games/skyislandgames/particles-of-light">
                        <h3 style="color:#900">Available at Kongregate!</h3>
                    </a>
                    <a style="color:rgb(238,178,17)" href="http://www.newgrounds.com/portal/view/685289">
                       <h3 style="color:rgb(238,178,17)">Available at Newgrounds!</h3>
                    </a>
                    <a style="color:#198927" href="http://gamejolt.com/games/particles-of-light/215328">
                        <h3 style="color:#198927">Available at GameJolt!</h3>
                   </a>
                    <p style="font-size:12px">(desktop and laptop only)</p>
                </div>
                <div class="col-sm-6" style="text-align:center !important">
                   <a style="color:white" href="/POL">
                        <img style="width:100%;max-width:600px" class="" src="../images/level13.gif" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>&nbsp;</h3>
            </div>
        </div>
    </div>

</section>




