


<section class="top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a class="" href="http://skyislandgames.com/index.php">
                    <img class="CompanyLogoMobile" src="../images/WebsiteLogo.png" alt="Sky Island Games" />
                </a>
                <h2>Particles Of Light</h2>
            </div>
        </div>
        <hr />
    </div>
</section>


<section class="featured" style="background-color: rgba(0,0,0,.05);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="aboutGame">
                    <div class="col-sm-12">
                        <h3 style="font-weight:bold">About the game</h3>
                        <p>Particles of Ligth is a classic speed platformer.</p>
                        <p>
                            You are a sentient body of light particles, the only light is a completely dark world. Discover the secrets of the world as you climb to reach the portal which will hopefully take you home.
                        </p>
                        <p>Make it to the end of each level as fast as you can.  Discover new terrain as your light uncovers it. Avoid saw, suppression systems and shots of anti-energy.</p>
                        <p style="font-size:12px">(desktop and laptop only)</p>
                    </div>
                    <div class="col-sm-12" style="text-align:center !important">
                        <div class="col-sm-4" style="text-align:center !important">
                            <h3 style="color:#900">Play at Kongregate!</h3>
                            <a href="http://www.kongregate.com/games/skyislandgames/particles-of-light">
                                <img style="border-radius:3px;" class="" src="../images/KongTag.PNG" />
                            </a>
                        </div>
                        <div class="col-sm-4" style="text-align:center !important">
                            <h3 style="color:rgb(238,178,17)">Play at NEWGROUNDS!</h3>
                            <a href="http://www.newgrounds.com/portal/view/685289">
                                <img style="border-radius:3px;" class="" src="../images/NewG.png" />
                            </a>
                        </div>
                        <div class="col-sm-4" style="text-align:center !important">
                            <h3 style="color:#198927">Play at GameJolt!</h3>
                            <a href="http://gamejolt.com/games/particles-of-light/215328">
                                <img style="border-radius:3px;" class="" src="../images/GameJ.png" />
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="media" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 style="color:white;">Media</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="../images/TitleScreen.png">
                    <img class="mediaImage" src="../images/TitleScreen.png" />
                </a>
            </div>
            <div class="col-sm-4">
                <a href="../images/Level1.gif">
                    <img class="mediaImage" src="../images/Level1.gif" />
                </a>
            </div>
            <div class="col-sm-4">
                <a href="../images/level13.gif">
                    <img class="mediaImage" src="../images/level13.gif" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="../images/hurt.png">
                    <img class="mediaImage" src="../images/hurt.PNG" />
                </a>
            </div>
            <div class="col-sm-4">
                <a href="../images/dead.png">
                    <img class="mediaImage" src="../images/dead.PNG" />
                </a>
            </div>
            <div class="col-sm-4">
                <a href="../images/level4.gif">
                    <img class="mediaImage" src="../images/level4.gif" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>&nbsp;</h3>
            </div>
        </div>
    </div>
</section>